@import views.html.CpCommonContainerPage
@import eu.icoscp.envri.Envri
@import se.lu.nateko.cp.doi.Doi

@(doi: Doi, isLoggedIn: Boolean, isAdmin: Boolean, isDevelopment: Boolean = false)(implicit env: Envri)
@CpCommonContainerPage(s"${devIcon}DOI ${doi}"){
	<style type="text/css">
		@@media all and (max-width: 991px) {
			.spacyrow{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
		.page-header {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		.card {
			margin-bottom: 1rem;
		}
		.row + .row {
			margin-top: 1rem;
		}
		span.label{
			font-size: 100%;
			color: #000;
		}
		.is-anonymous .edit-control,
		.is-not-admin .admin-control,
		.is-not-admin .published-doi .btn-update-doi,
		.is-logged-in.is-not-admin .published-doi .nav-edit,
		.is-admin .btn-submit {
			display: none;
		}
		.is-not-admin .published-doi .card input,
		.is-not-admin .published-doi .card button,
		.is-not-admin .published-doi .card select,
		.is-anonymous .draft-doi .card input,
		.is-anonymous .draft-doi .card button,
		.is-anonymous .draft-doi .card select{
			pointer-events: none;
		}
		.is-not-admin .published-doi .card-body input{
			background-color: lightgrey;
		}
	</style>
}{
	<div class="row">
		<div class="col">
			<div class="mb-3">
				<a href="/" class="btn btn-outline-primary mb-2">
					<span class="fas fa-arrow-left mr-2"></span>
					Back to list
				</a>
				<h2 class="mt-2">DOI: @{doi}</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div id="main-wrapper" class="@isAdminClass @isLoggedInClass" data-doi="@{doi}"></div>
		</div>
	</div>

	<script src="/doi-js-@{if(isDevelopment) "fast" else ""}opt.js"></script>

}

@isAdminClass = @{
	if(isAdmin) "is-admin" else "is-not-admin"
}

@isLoggedInClass = @{
	if(isLoggedIn) "is-logged-in" else "is-anonymous"
}

@devIcon = @{
	if(isDevelopment) "🚧 " else ""
}
