@import views.html.CpCommonPage

@(isLoggedIn: Boolean, isAdmin: Boolean, jsFastOpt: Boolean = false, cpauthHost: String)
@CpCommonPage("Carbon Portal's DOI minting service", cpauthHostOpt = Some(cpauthHost), bootstrapVersion = Some(5)){
	<style type="text/css">
		@@media all and (max-width: 991px) {
			.spacyrow{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
		.page-header {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		.card {
			margin-bottom: 1rem;
		}
		span.label{
			font-size: 100%;
			color: #000;
		}
		.is-not-admin .btn-changestate,
		.is-not-admin .published-doi .doi-update,
		.is-anonymous .new-doi-input,
		.is-anonymous .draft-controls {
			display: none;
		}
		.is-not-admin .published-doi .card input,
		.is-not-admin .published-doi .card button,
		.is-not-admin .published-doi .card select,
		.is-anonymous .draft-doi .card input,
		.is-anonymous .draft-doi .card button,
		.is-anonymous .draft-doi .card select{
			pointer-events: none;
		}
		.is-not-admin .published-doi .card-body input{
			background-color: lightgrey;
		}
	</style>
}{
	<div class="row">
		<div class="col">
			<div class="page-header">
				<h1>Carbon Portal DOI minting service</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<p><b>@permissions</b></p>
					<div>
						<div>🔵 Published DOIs are in blue.</div>
						<div>🟡 Drafts are in yellow.</div>
					</div>
					<br/>
					<p>Only the last modified DOI records are shown by default. Please use search to refine the list and find older records.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div id="main-wrapper" class="@isAdminClass @isLoggedInClass"></div>
		</div>
	</div>


	<script src="doi-js-@{if(jsFastOpt) "fast" else ""}opt.js"></script>

}

@permissions = @{
	if(isAdmin)
		"As an admin, you can create, update, and delete draft and published DOIs."
	else if(isLoggedIn)
		"You can create draft DOIs. Please contact us to publish a DOI or update it after it has been published."
	else
		"Please log in to create or update DOIs."
}

@isAdminClass = @{
	if(isAdmin) "is-admin" else "is-not-admin"
}

@isLoggedInClass = @{
	if(isLoggedIn) "is-logged-in" else "is-anonymous"
}