@import views.html.CpCommonPage

@(isLoggedIn: Boolean, isAdmin: Boolean, jsFastOpt: Boolean = false, cpauthHost: String)
@CpCommonPage("Carbon Portal's DOI minting service", cpauthHostOpt = Some(cpauthHost)){
	<style type="text/css">
		@@media all and (max-width: 991px) {
			.spacyrow{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
		span.label{
			font-size: 100%;
			color: #000;
		}
		.is-not-admin .btn-changestate,
		.is-not-admin .published-doi .doi-update,
		.is-anonymous .new-doi-input,
		.is-anonymous .draft-controls {
			display: none;
		}
		.is-not-admin .published-doi .panel input,
		.is-not-admin .published-doi .panel button,
		.is-not-admin .published-doi .panel select,
		.is-anonymous .draft-doi .panel input,
		.is-anonymous .draft-doi .panel button,
		.is-anonymous .draft-doi .panel select{
			pointer-events: none;
		}
		.is-not-admin .published-doi .panel-body input{
			background-color: lightgrey;
		}
	</style>
}{
	<div class = "page-header">
		<h1>Carbon Portal DOI minting service</h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<p><b>@permissions</b></p>
			<div>
				<div>🔵 Published DOIs are in blue.</div>
				<div>🟡 Drafts are in yellow.</div>
			</div>
		</div>
	</div>

	<div id="main-wrapper" class="@isAdminClass @isLoggedInClass"></div>

	<script src="doi-js-@{if(jsFastOpt) "fast" else ""}opt.js"></script>

}

@permissions = @{
	if(isAdmin)
		"As an admin, you can create, update, and delete draft and published DOIs."
	else if(isLoggedIn)
		"You can create draft DOIs. Please contact us to publish a DOI or update it after it has been published."
	else
		"Please log in to create or update DOIs."
}

@isAdminClass = @{
	if(isAdmin) "is-admin" else "is-not-admin"
}

@isLoggedInClass = @{
	if(isLoggedIn) "is-logged-in" else "is-anonymous"
}