@import views.html.CpCommonPage

@(isLoggedIn: Boolean, isAdmin: Boolean, jsFastOpt: Boolean = false, cpauthHost: String)
@CpCommonPage("Carbon Portal's DOI minting service", authHost = cpauthHost, dataHost = "data.icos-cp.eu"){
	<style type="text/css">
		@@media all and (max-width: 991px) {
			.spacyrow{
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}
		.page-header {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		.card {
			margin-bottom: 1rem;
		}
		span.label{
			font-size: 100%;
			color: #000;
		}
		.is-anonymous .edit-control,
		.is-not-admin .admin-control,
		.is-not-admin .published-doi .btn-update-doi,
		.is-logged-in.is-not-admin .published-doi .nav-edit,
		.is-admin .btn-submit {
			display: none;
		}
		.is-not-admin .published-doi .card input,
		.is-not-admin .published-doi .card button,
		.is-not-admin .published-doi .card select,
		.is-anonymous .draft-doi .card input,
		.is-anonymous .draft-doi .card button,
		.is-anonymous .draft-doi .card select{
			pointer-events: none;
		}
		.is-not-admin .published-doi .card-body input{
			background-color: lightgrey;
		}
		a[target="_blank"]::after {
			font-family: "Font Awesome 5 Free";
			content: "\f35d";
			font-weight: 900;
			margin: 0 0.3rem;
		}
	</style>
}{
	<div class="row">
		<div class="col">
			<div class="page-header">
				<h1>Carbon Portal DOI minting service</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p><b>@permissions</b></p>
			<p>
				<div>🔵 Published DOIs are in blue.</div>
				<div>🟡 Drafts are in yellow.</div>
			</p>
			<p>
				<a href="https://support.datacite.org/docs/datacite-search-user-documentation#1-search-the-for-a-specific-publisher" target="_blank">
					Read about advanced search queries
				</a>
			</p>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col">
			<div id="main-wrapper" class="@isAdminClass @isLoggedInClass"></div>
		</div>
	</div>


	<script src="doi-js-@{if(jsFastOpt) "fast" else ""}opt.js"></script>

}

@permissions = @{
	if(isAdmin)
		"As an admin, you can create, update, and delete draft and published DOIs."
	else if(isLoggedIn)
		"You can create draft DOIs and submit them for publication. We will review your submission before publishing the DOI. You can also clone an existing DOI to update it after it has been published."
	else
		"Please log in to create or update DOIs."
}

@isAdminClass = @{
	if(isAdmin) "is-admin" else "is-not-admin"
}

@isLoggedInClass = @{
	if(isLoggedIn) "is-logged-in" else "is-anonymous"
}